// Боковое меню

.content-side {
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  min-height: 100%;
  z-index: 200;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  overflow: auto;
  transform: translateX(-700px);
  transition: 0.3s ease-in-out;
}

.content-side--visible{
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}

.upper-menu-side {
  display: flex;
  width: auto;
  height: 88px;
  background: #FFFFFF;
  align-items: center;

}

.icon-side {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
  transition: 0.2s ease-in-out;
}

.icon-side:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon--burger-side{
  background-image: url('../img/burger-close.svg');
  margin-left: 24px;
}

.icon--search-side {
  background-image: url('../img/search.svg');
  margin-left: auto;
}

.menu-top {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-start;
}

.menu__button-side {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.2px;
  text-decoration: none;
  border: none;
  background-color: inherit;
  padding-left: 20px;
  height: 32px;
  color: #1B1C21;
  font-family: TTLakes-Medium;
}

.menu__group {
  display: flex;
  margin-bottom: 32px;
  width: 100%;
}

.menu__group--last-element{
  margin-bottom: 0;
}

.highlight {
  display: none;
  margin-right: -4px;
  background: #41F6D7;
  border-radius: 2px;
  width: 4px;
  height: 32px;
}

.menu__button--active-side {
  display: block;
  color: #7E7E82;
}

.menu-bottom-side {

  margin-right: 24px;
}

.menu-bottom__container-side {
  display: flex;
  margin-left: 24px;
}

.icon--call-side {
  background-image: url('../img/call.svg');
}

.icon--chat-side {
  background-image: url('../img/chat.svg');
}

.icon--profile-side{
  background-image: url('../img/profile.svg');
}

.block-mail {
  margin-left: 24px;
  margin-top: 16px;
}

.block-mail__mail {
  text-decoration: none;
  color: #1B1C21;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.block-tell {
  margin-left: 24px;
  margin-top: 16px;
}

.block-tell__tel {

  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  text-decoration: none;
  font-weight: bold;
}

.menu-lang {
  margin-left: 24px;
  margin-top: 40px;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  padding: 0;
  display: flex;
}

.menu-lang__button {
  background-color: inherit;
  border: none;
  padding: 0 7px 0 0;
  font-size: 16px;

}

.menu-lang__button--active{
  color: #7E7E82;
}

@media screen and (min-width: 982px){

  .content-side {
    transform: translateX(0);
    box-shadow: none;
    border-right: 1px solid #D9FFF5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .upper-menu__logo{
    margin-left: 22px;
    background: url("../img/logo.svg") no-repeat;
    width: 98px;
    height: 52px;
  }

  .icon--burger-side{
    display: none;
  }

}

// Конец Боковое меню
