// Ремонт различных видов техники


.equipment-block{
  display: flex;
  margin-left: 16px;
  margin-top: 16px;
  width: auto;

}

.equipment-block__list--properties{
  box-sizing: border-box;
  font-family: TTLakes-Medium;
  border-radius: 6px;
  min-width: 240px;
  min-height: 160px;
  flex-direction: column;

  display: none;
}

.equipment-block__list{
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  align-items: center;
  padding: 16px;
  margin-right: 32px;
}

.equipment-block__title{
  margin-right: auto;
}

.equipment-block__button{
    margin: auto 0 0 auto;
}

.equipment-block__list--visible {
  display: flex;
}

.equipment-block__list--unvisible {
  display: none;
}

.swiper-container-equipment-block{
  overflow: hidden;
}

@media screen and (max-width: 768px){

  .equipment-block__list{
    margin-right: 0;
  }

  .equipment-block{
    margin-left: 16px;
  }

}


@media screen and (max-width: 1440px) {

  .equipment-block__list--medium-visible{
    display: flex ;
  }

}

@media screen and (max-width: 768px) {

  .equipment-block__list--medium-visible{
    display: flex ;
  }

  .equipment-block__list--large-visible {
    display: flex ;
  }


}

@media screen and (min-width: 1440px) {

  .equipment-block__list--large-visible {
    display: flex ;
  }

  .equipment-block__list--medium-visible{
    display: flex ;
  }

}

@media screen and (min-width: 768px) {

  .equipment-block{
    flex-wrap: wrap;
  }

  .equipment-block__list--properties{
    margin-bottom: 16px;
  }
}

