// Обратная связь

.feedback-menu{
  width: 440px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  height: 100vh;

  transition: 0.3s ease-in-out;
  transform: translateX(700px);
}

.feedback-menu__icon{
  height: 10px;
  width: 6px;
  background-image: url("../img/icon_price-block.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s ease-in-out;
  margin-left: 9px;
  margin-top: auto;
  margin-bottom: auto;
}

.feedback-menu__input{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 0 12px 16px;
  width: 376px;
  height: 48px;
  margin: 24px 0 0 32px;
  outline: none;
}

.feedback-menu__input--text{
  height: 118px;
}

@media screen and (max-width: 480px){

  .feedback-menu{
    width: 100%;
  }

  .feedback-menu__input{
    width: 80%;
  }

}

// Конец Обратная связь
