// Footer

.footer{
  border-top: 1px solid #D9FFF5;
  display: flex;
  padding: 32px 16px 0 16px;
  margin-bottom: 10px;
}

.footer_block{
  width: 33%;
  color: #7E7E82;
  opacity: 0.72;
  font-family: TTLakes-Medium;
  font-size: 14px;
  line-height: 16px;
  mix-blend-mode: normal;
}


.footer_block--text_align{
  text-align: right;
}


@media screen and (max-width: 768px){
  .footer{
    flex-direction: column;
    align-items: center;
    text-align: center ;
  }

  .footer_block--text_align{
    text-align: center ;
  }

  .footer_block{
    width: auto ;
  }

  .footer_block{
    margin-bottom: 16px;
  }

}

@media screen and (min-width: 982px){

footer{
  margin-left: 361px;
}

}
