@import "./blur-area.scss";
@import "./info-group.scss";
@import "./read-more.scss";
@import "./icons.scss";
@import "./info-block.scss";
@import "./title.scss";
@import "./menu.scss";
@import "./upper-menu.scss";
@import "./brand-block.scss";
@import "./swiper.min.css";
@import "./equipment-block.scss";
@import "./price-block.scss";
@import "./feedback-menu.scss";
@import "./call-menu.scss";
@import "./content-side.scss";
@import "./footer.scss";




@font-face {
    font-family: 'TT Lakes';
    src: url(../fonts/TTLakes-Bold.eot?#iefix) format("eot"),
    url(../fonts/TTLakes-Bold.woff) format("woff"),
    url(../fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes-regular';
    src: url(../fonts/TTLakesCondensed-Regular.eot?#iefix) format("eot"),
    url(../fonts/TTLakesCondensed-Regular.woff) format("woff"),
    url(../fonts/TTLakesCondensed-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(../fonts/TTLakes-Medium.eot?#iefix) format("eot"),
  url(../fonts/TTLakes-Medium.woff) format("woff"),
  url(../fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #F8F8F8;
    font-family: "TT Lakes-regular", Arial, sans-serif;
    padding: 0;
    margin: 0;

}

a, button{
  cursor: pointer
}

.container{
  width: 100%;
}


.swiper-wrapper{
  margin-top: 16px;
}

.menu__button-side,
.block-mail__mail,
.block-tell__tel,
.menu-lang__button{
  transition: opacity, color 0.2s ease-in-out;
}

.menu__button-side:hover,
.block-mail__mail:hover,
.block-tell__tel:hover,
.menu-lang__button:hover{
  color: #7E7E82;
}

@media screen and (max-width: 768px){

  .swiper-pagination{
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 982px) {

  main{
    margin-left: 361px;
  }

}





