@import "./blur-area.scss";
@import "./icons.scss";
@import "./upper-menu.scss";
@import "./brand-block.scss";
@import "./swiper.min.css";
@import "./equipment-block.scss";
@import "./price-block.scss";
@import "./feedback-menu.scss";
@import "./call-menu.scss";
@import "./content-side.scss";
@import "./footer.scss";




@font-face {
    font-family: 'TT Lakes';
    src: url(../fonts/TTLakes-Bold.eot?#iefix) format("eot"),
    url(../fonts/TTLakes-Bold.woff) format("woff"),
    url(../fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes-regular';
    src: url(../fonts/TTLakesCondensed-Regular.eot?#iefix) format("eot"),
    url(../fonts/TTLakesCondensed-Regular.woff) format("woff"),
    url(../fonts/TTLakesCondensed-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(../fonts/TTLakes-Medium.eot?#iefix) format("eot"),
  url(../fonts/TTLakes-Medium.woff) format("woff"),
  url(../fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #F8F8F8;
    font-family: "TT Lakes-regular", Arial, sans-serif;
    padding: 0;
    margin: 0;

}

a, button, .menu__group {
  cursor: pointer
}



.title {
  font-family: TT Lakes, Arial, sans-serif;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  letter-spacing: -0.6px;
}

.title__main-title{
  margin-right: auto;
}

.title__highlight {
  margin-right: 12px;
  background: #41F6D7;
  border-radius: 2px;
  width: 4px;
  height: 40px;

}

.menu {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.menu__button{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-left: 16px;
  border: none;
  background: inherit;
}

.menu__button--active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 9px 8px 16px;
}

.info-block{
  margin-top: 24px;
}

.group__description {
  padding: 0 16px;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 18px;
  display: none;
}

.group__read-more{
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 16px;
}

.info-block__img {
  width: 50%;
}

.info-block__img--position--100{
  width: 100%;
  margin: 27px 0 27px 0;
}

.title__second-title{
  font-family: "TT Lakes-regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  background: none;
  border: none;
}

.read-more {
  font-family: TTLakes-Medium;
  font-weight: 500;
  border: none;
  background: none;
  color: #1B1C21;
}


.title-block{
  border-top: 1px solid #D9FFF5;
}

.group__description--visible{
  display: block;
}

.group__description--unvisible{
  display: none;
}

.swiper-wrapper{
  margin-top: 16px;
}

.menu__button-side,
.block-mail__mail,
.block-tell__tel,
.menu-lang__button{
  transition: opacity, color 0.2s ease-in-out;
}

.menu__button-side:hover,
.block-mail__mail:hover,
.block-tell__tel:hover,
.menu-lang__button:hover{
  color: #7E7E82;
}

.container{
  width: 100%;
}

@media screen and (max-width: 982px) {


    .title__second-title--hidden{
        display:none;
    }


    .info-block {
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }

    .group__description {
        order: 0;
        width: auto;
        margin-top: 24px;
    }

    .info-block__img {
        width: 100%;
    }

    .group__read-more{
        order: 2;
    }

    .menu {
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow: scroll;
    }
}


@media screen and (max-width: 540px) {

    .menu {
        overflow: scroll;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .upper-menu{
        display: flex;
    }

    .info-block__img {
        width: 100% ;
    }

}

@media screen and (max-width: 768px){
  .group__full-text--visible--small{
    display: block;
  }

  .swiper-pagination{
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px){

  .group__full-text--visible--small{
    display: block;
  }

  .group__full-text--visible--medium{
    display: block;
  }
}

@media screen and (min-width: 982px) {

  .info-block {
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }

  .group{
    width: 50%;
  }

  .group__description {
    order: 0;
    margin-top: 24px;
  }

  .group__read-more {
    order: 2;
  }

  main{
    margin-left: 361px;
  }


}

@media screen and (min-width: 1240px){
  .group__full-text--visible--large{
    display: block;
  }
}




